[SddmGreeterTheme]
Name=leftos
Description=LeftOS sddm theme
Author=totoro, TH3-S4LM0N
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=sddm-leftos
